


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1600px;
    height: 687px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

.hero {
    width: 1350px;
    height: 687px;
    flex-shrink: 0;
    margin-right: auto;
  background-image: url(/img/backgraund.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 200px;
  
}

.hero h1 {
    
    color:  #FFF;
text-align: center;
margin-left:500px;
padding-top: 300px;
/* Заголовок_H1 */
font-family: Lato;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 67.2px */
text-transform: uppercase;
margin-top: 120px;
width: 446px;
}

.hero p {
    color:  #FFF;
    text-align: center;
    margin-left:490px;
    /* text_18px (medium) */
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin-top: 20px;
    margin-bottom: 50px;
    width: 537px;
}

.hero button {
    margin-left: 500px;
}

main p {
    color: var(--, #282B22);
text-align: center;
margin-top: 150px;
/* заголовок_H2 */
font-family: Raleway;
font-size: 46px;
font-style: normal;
font-weight: 600;
line-height: 125%; /* 57.5px */
text-transform: uppercase;
width: 488px;
height: 58px;
margin-left: auto;
margin-right: auto;
}